Hello
<h2>bootstrap4_test</h2>

<div class="alert alert-secondary"><a class="alert-link" href="#">リンクサンプル</a>　スタイルが反映されていれば成功</div>
<button type="button" class="btn btn-primary">Test</button>
<h2>Vue_test</h2>
<%= button_to 'Exit', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit', edit_user_registration_path %>
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>
