<% @boards.each do |board| %>
  <div>
    <span>
      <%= link_to(board.name, "/boards/#{board.id}/show" ) %>
    </span>
    <span>
      <%= link_to("edit", "/boards/#{board.id}/edit" ) %>
    </span>
    <span>
      <%= link_to("destroy", "/boards/#{board.id}/destroy" ) %>
    </span>
  </div>
<% end %>
<div>
  <%= link_to("create", "/boards/create") %>
</div>
